<div class="form-group">
    <label for="cityName">Name</label>
    <input id="cityName" name="cityName" class="form-control" type="text" ng-model="cityFormTxtInpt">
    <input class="btn btn-success" type="button" ng-click="cityFormSubmit()" value="Create">
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in cities">
            <td><span>{{item.Name}}</span><a class="btn btn-primary pull-right" href="#/cities/edit/{{item.Country}}/{{item.ID}}/{{item.Name}}">Edit</a></td>
        </tr>
    </tbody>
</table>
<a href="#/countries">Back to Countries</a>
